<a href='/songs'>Songs Home</a>
<form method='POST' action='/songs'>
  <h1>Make a new Song!</h1>
  <input type='text' id='song_name' name='song[name]' placeholder='Name'><br>
  <h3>Create a Artist</h3>
  <input type='text' id='artist_name' name='artist[name]' placeholder='Artist Name'>
  <h3>Or Choose a Artist</h3>
  <% @artists.all.each do |artist| %>
    <%= artist.name %><input type='radio' id='artist_<%= artist.name %>' value='<%= artist.id %>' name='song[artist_id]'><br>
  <% end %>
  <h3>Or Choose a Genre</h3>
  <% @genres.all.each do |genre| %>
    <label for='genre_<%= genre.name %>'><%= genre.name %></label>
    <input type='checkbox' id='genre_<%= genre.name %>' value='<%= genre.id %>' name='song[genre_ids]'><br>
  <% end %>
  <input type='submit' value='Create'>
</form>